@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;

}

.head {
    color: red;
    font-size: 20px;
    text-align: start;

}

.end {
    display: flex;
    align-items: center;
    gap: 10px;
}

.log-out {
    display: flex;
    justify-content: center;
    height: 40px;
    align-items: center;
    gap: 5px;
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 5px;
    font-size: 10px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

.log-out:hover {
    background-color: rgb(229, 20, 20);

}


.search {
    display: flex;
    align-items: center;
    height: 40px;
    border-radius: 5px;
    padding: 5px 15px;
    background-color: white;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.3);
    width: 100px;
    transition: all 0.5s ease;
    overflow: hidden;
}

.search:hover {
    width: 200px;
}

.search:focus-within {
    width: 250px;
}

.icon {
    color: rgb(4, 193, 4);
    font-size: 20px;
    transition: color 0.5s ease;
}

.search:focus-within .icon {
    color: rgb(0, 123, 255);
}

.nav-input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 14px;
    font-family: 'Kanit', sans-serif;
    color: black;
    background: transparent;
    transition: all 0.5s ease;
}

.search:hover .nav-input,
.search:focus-within .nav-input {
    width: 100%;
}

.nav-input::placeholder {
    color: gray;
    font-style: italic;
    transition: color 0.3s ease;
}

.links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 30%;
}
.links a {
    text-decoration: none;
    color: white;
    position: relative;
    letter-spacing: 1px;
    font-family: "Jost", serif;

}
.links a::after{
    content: '';
    position: absolute;
    background-color: white;
    height: 2px;
    width: 0;
    left: 0;
    bottom: -5px;
    transition: all 0.3s ease;
}
.links a:hover::after{
    width: 100%;
}

.links .active {
    font-weight: bold;
}

.icon-log {
    align-self: center;
    font-size: 15px;
}

.log-out:hover {
    gap: 15px;
}