@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body {
    font-family: "Jost", serif;
    background-image: url(/src/images/background.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative; /* Needed for overlay */
}

/* Dark overlay */
body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.756); /* Adjust darkness (0 = transparent, 1 = black) */
    z-index: -1; /* Keep it behind content */
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}