@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

body {
    font-family: "Jost", serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background-image: url(/src/images/background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    overflow: hidden;
}

.signup-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, rgba(242, 4, 4, 0.5), rgba(182, 2, 2, 0.5), rgba(48, 114, 97, 0.5), rgba(26, 245, 143, 0.5));
    background-size: 400% 400%;
    animation: gradient-animation 10s ease infinite;
    z-index: 1;
    pointer-events: none;
}

.signup {
    padding: 5px 20px 20px 20px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    border: 1px solid rgba(255, 255, 255, 0.2);
    width: 400px;
    min-height: fit-content;
    backdrop-filter: blur(10px);
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    border-radius: 20px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.5);
    z-index: 2;
    transition: all 0.5s ease ;
}
.signup-header{
    padding-bottom: 25px;
}
.signup:hover {
    transform: scale(1.01);
    box-shadow: 0px 12px 24px rgba(0, 0, 0, 0.6);
}

form {
    display: flex;
    flex-direction: column;
    animation: fadeInDown 1s ease-out;
    gap: 8px;
}

.signup .head {
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
    color: #ff4b2b;
}

.signup h3 {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    color: #d79d93;
}

label {
    color: #fff;
    font-size: 12px;
    letter-spacing: 1px;
    padding-left: 10px;
    cursor: pointer;
    transition: color 0.3s ease, transform 0.3s ease;
}

label:hover {
    color: #ffcc00;
    transform: translateX(2px);
}

.sign-input {
    background: rgba(255, 255, 255, 0.2);
    height: 40px;
    border-radius: 20px;
    padding: 0px 15px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    color: #fff;
    font-size: 14px;
    outline: none;
    transition: all 0.3s ease;
    margin-bottom: 8px;
}

.sign-input:focus {
    background: rgba(40, 24, 24, 0.5);
    border: 1px solid #ffcc00;
    box-shadow: 0px 0px 10px rgba(255, 204, 0, 0.7); 
    transform: scale(1.02);
}

.submit {
    background: linear-gradient(90deg, #ff416c, #ff4b2b);
    height: 45px;
    border-radius: 25px;
    border: none;
    margin-top: 5px;
    font-size: 16px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
}

.submit:hover {
    transform: scale(1.03);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.5);
    background: linear-gradient(90deg, #ff4b2b, #ff416c);
}
.submit:active {
    background: linear-gradient(90deg, #036006, #07ff07);
    transform: scale(0.95); 
    box-shadow: 0px 0px 5px rgba(0, 255, 127, 0.7);
}

.signup-link,
.login-link {
    color: #ff416c;
    text-decoration: none;
    font-size: 12px;
    text-align: center;
    transition: color 0.3s ease;
}

.signup-link:hover,
.login-link:hover {
    color: #fff;
    text-decoration: underline;
}

span {
    display: flex;
    justify-content: center;
    font-size: 14px;
    margin-top: 20px;
    animation: fadeInDown 1s ease-out;

}

.login-link {
    font-weight: bold;
    align-self: center;
}

.signup h1,
.signup h3 {
    text-align: center;
    animation: fadeInDown 1s ease-out;
}

@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
